<div id="sidebar">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Things to do ...</h3>
  </div>
  <div class="panel-body">
    <% if session[:user_id] %>
      <p><i class="glyphicon glyphicon-book"></i>
        <%= link_to 'All Books', books_path %>
      </p>

      <p><i class="glyphicon glyphicon-user"></i>
        <%= link_to 'Authors', authors_path %>
      </p>

      <% if session[:admin] == true %> 
        <p><i class="glyphicon glyphicon-plus-sign"></i>
          <%= link_to 'New Book', new_book_path %>
        </p>

        <p><i class="glyphicon glyphicon-exclamation-sign"></i>
          <%= link_to 'Overdue Books', reservations_overdue_path %>
        </p>
      <% end %>

      <p><i class="glyphicon glyphicon-check"></i>
        <%= link_to 'My Reservations', reservations_path %>
      </p>
      
      <%= button_to 'Logout', logout_path, method: :delete %>
    <% end %> 
  </div>
</div>
</div>
