<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
    <fieldset> 
      <legend>Please Log In</legend><br />
      <div>
        <%= label_tag :user_id, 'User-id:' %>
    	<%= text_field_tag :user_id, params[:user_id] %><br />
      </div>
      <div>
      <br />
    	<%= label_tag :password, 'Password:' %>
    	<%= password_field_tag :password, params[:password] %><br />
      </div>
      <div>
      <br />
    	<%= submit_tag "Login" %>
      </div>
    </fieldset>
  <% end %>
</div>
  
