<h2>My Reservations</h2>

<ol id="reservations">
  <% @reservations.each do |reservation| %>
    <li>
      <span>
	<%= hidden_field_tag reservation.user_id %>
      </span>

      <span>
	<%= hidden_field_tag reservation.book_id %>
      </span>

      <span>
	<%= image_tag(reservation.book.image_cover_url, height: "100", width: "80")%>
      </span><br><br>

      <span class='book-title'>
	<%= reservation.book.title %>
      </span><br>

      <span class="date">
          Reserved - <%= reservation.reserved_on.to_s(:short) %> 
      </span><br>

      <span class="date">
         Due - <%= reservation.due_on.to_s(:short) %>
      </span><br>

      <span>
        <%= button_to 'Return book', reservations_kill_path(thereservationid: reservation.id , theuserid: reservation.user_id), 
                 data: {confirm: 'Are you sure?' } %>
      </span><br>


     
    </li>
  <% end %>
</ol>
