<h1>My Reservations</h1>

<ol id="reservations">
  <% @reservations.each do |reservation| %>
    <l1>
      <span>
	<%= reservation.user_id %>
      </span>

      <span>
	<%= reservation.book_id %>
      </span>

      <span>
	<%= image_tag(reservation.book.image_cover_url, height: "100", width: "80")%>
      </span>

      <span class='book-title'>
	| <%= reservation.book.title %>
      </span>

      <span class="date">
          | reserved - <%= reservation.reserved_on.to_s(:short) %> 
      </span>

      <span class="date">
         | due - <%= reservation.due_on.to_s(:short) %>
      </span>

      <span>
        | <%= button_to 'Return book', reservations_kill_path(thereservationid: reservation.id , theuserid: reservation.user_id), 
                 data: {confirm: 'Are you sure?' } %>
      </span>


     </br>
    </li>
  <% end %>
</ol>
