<h2>Overdue Book</h2>

<ol id="reservations">
  <% @overdueset.each do |reservation| %>
    <li>
      <span>
  <%= image_tag(reservation.book.image_cover_url, height: "100", width: "80") %>
      </span><br><br>

      <span>
	<%= hidden_field_tag reservation.user_id %>
      </span>

      <span>
	<%= hidden_field_tag reservation.book_id %>
      </span>

      <span class="book-title">
	<%= Book.find(reservation.book_id).title %>
      </span><br>

      <span>
	Reserved by - <%= User.find(reservation.user_id).name %>
      </span><br>

      <span class="date">
          Reserved on - <%= reservation.reserved_on.to_s(:short) %> 
      </span><br>

      <span class="date">
         Due on - <%= reservation.due_on.to_s(:short) %>
      </span><br><br>

      <span>
        <%= button_to 'Return book', reservations_kill_path(thereservationid: reservation.id, theuserid: reservation.user_id ), 
                 data: {confirm: 'Are you sure?' } %>
      </span>


     </br>
    </li>
  <% end %>
</ol>


