<h2><%= @author.name %></h2>

<% if @author.image_url.length > 0 %>
<p>
  <%= image_tag(@author.image_url, height: "200", width: "160")%>
</p>
<% else %>
  <strong> no image available </strong>
<% end %>

<p>
  <strong>Biography:</strong>
  <%= @author.biography %>
</p>

<p>
  <h4> Details: </h4>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @author.dob %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @author.nationality %>
</p>

<% if @author.awards.length > 0 %>
<p>
  <strong>Awards:</strong>
  <%= @author.awards %>
</p>
<% end %>


<p>
  <h4>Publications:</h4>
</p>

<p>
<% @publishedBooks.each do |publishedBook| %>

  <span><%= image_tag(publishedBook.image_cover_url, height: "100", width: "80") %>
        </span>
  <strong> <%= link_to( publishedBook.title, publishedBook) %> </strong>
  </br>
<% end %>
</p>

|
<%= link_to 'Back', authors_path %>
