<span class="search-span">
     <%= form_tag books_path, :method => 'get' do %> 
       <%= text_field_tag :search, params[:search]%>
       <%= submit_tag "Search", :book => nil  %>
     <% end %> 
</span>

<h1>Books</h1>
  <p>
  <%= page_entries_info @books %> 
  </p>
  <ol>
    <% @books.each do |book| %>

    <li>
      <div class="book-content-area">
        <span><%= image_tag(book.image_cover_url, height: "100", width: "80") %></span>
        <span class="book-title"><%= link_to(book.title, book) %></span>
        <span class="by-author"> by <%= book.author %></span>
      </div>
    </li>
    <br>
    
  <% end %>
  </ol>
<%= paginate @books %>


<%= link_to 'New Book', new_book_path %>


