<h1>All Books</h1>
  
  <%= page_entries_info @books %>


<%= form_tag books_path, :method => 'get'  do %>
   <%= text_field_tag :search, params[:search]%>
   <%= submit_tag "Search", :name => nil  %>
 <% end %>
 

  <ol>
    <% @books.each do |book| %>

    <li>
       <%= link_to(book.title, book) %> by <%= book.author %>
    </li>
    
  <% end %>
  </ol>
<%= paginate @books %>


