
<p class='book-title'>
  <%= @book.title %>
</p>
<% if @book.image_cover_url.length > 0 %>
  <div class='abstract-area'>
  <span>
  <%= image_tag(@book.image_cover_url, height: "100", width: "80")%>
  </span>
<% else %>
  <div class='abstract-area'>
  <p>
    <strong> no image available </strong>
  </p>
<% end %>

<span class='book-abstract'>
  <%= @book.abstract %>
</span>
</div>

<h4>Details</h4>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>


<p>
  <strong>Author:</strong>
  <% if @book.author_id < 1 %>
    <%= @book.author %>
  <% else %>
   <%= link_to @book.author, author_path(@book.author_id) %>
  <% end %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>


<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Published on:</strong>
  <%= @book.published_on %>
</p>

<p>
  <strong>Total in library:</strong>
  <%= @book.total_in_library %>
</p>

<p>
  <strong>Current copies on Reserve:</strong>
  <%= @recordcount %>
</p>

<p>
  <% if @book.total_in_library > @recordcount %>
    <strong>Copies of this book can be reserved</strong>
  <% else %>
    <strong>There are no copies of the book available to be reserved</strong>
 <% end %>
</p>

<p>

  <% if @myreservationcount > 0 %>
    <strong> You already have this book reserved</strong>
  <% else %>
    <% if @book.total_in_library > @recordcount %>
      <%= button_to 'Reserve', reservations_path(book_id: @book, user_index: session[:user_index] ) %>
    <% end %> 
  <% end %>
</p>

 <% if session[:admin] == true %> 
   <%= link_to 'Edit', edit_book_path(@book) %> |
   <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', books_path %>

