
<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @book.abstract %>
</p>


<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Image cover url:</strong>
  <%= @book.image_cover_url %>
</p>

<p>
  <strong>Published on:</strong>
  <%= @book.published_on %>
</p>

<p>
  <strong>Total in library:</strong>
  <%= @book.total_in_library %>
</p>

<p>
  <strong>Current Reservations for the book:</strong>
  <%= @recordcount %>
</p>

<p>
  <% if @book.total_in_library > @recordcount %>
    <strong>Copies of this book can be reserved</strong>
  <% else %>
    <strong>There are no copies of the book available to be reserved</strong>
 <% end %>
</p>

<p>

  <% if @myreservationcount > 0 %>
    <strong> You already have this book reserved</strong>
  <% else %>
    <% if @book.total_in_library > @recordcount %>
      <%= button_to 'Reserve', reservations_path(book_id: @book, user_index: session[:user_index] ) %>
    <% end %> 
  <% end %>
</p>

 <% if session[:admin] == true %> 
   <%= link_to 'Edit', edit_book_path(@book) %> |
   <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', books_path %>

